/*.navbar {
    margin-bottom: 0;
    border-radius: 0;
    background-color: rosybrown;
}*/


/* Add a gray background color and some padding to the footer */


/*footer {
    background-color: #f2f2f2;
    padding: 25px;
}*/

.shadow {
    text-shadow: 2px 2px lightblue;
    position: absolute;
    padding-inline-start: 5px;
    left: 70px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
}

.box {
    background-color: white;
}

.container-full {
    margin: 0 auto;
    width: 100%;
}


/*Demo button*/

demo {
    width: 100px;
    margin: auto;
}

.btnDemo {
    width: 500px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-size: 70px;
    align-items: center;
    border-radius: 30px;
    margin-left: 400px;
}

.btnDemo a {
    color: white;
    text-decoration: none;
}

.position {
    position: absolute;
    width: 100%;
    margin-top: -300px;
    margin-left: 500px;
}
.btn2{
    width:150px;
    height: 30px;
    line-height: 50px;
    text-align: center;
    font-size: 50px;
    border-radius: 10px;
}
.btn2 a{
    color: white;
    text-decoration: none;
}
.blue {
    background-color: lightblue;
    opacity: 0.5;
    position: relative;
    left: 50px;
    font-weight: bold;
}

.blue:hover {
    background-color: lightskyblue;
}

.icon {
    width: 90px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-size: 70px;
    margin-top: 0px;
    margin: 10px;
    align-items: center;
}

.icon a {
    color: lightgreen;
    text-decoration: none;
}

.logoRound {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 30px;
    border-radius: 50px;
    margin-left: -60px;
    margin-bottom: -50px;
}

.logoRound a {
    color: white;
    text-decoration: none;
}


/*brand logos*/

brand {
    width: 50px;
    margin: auto;
}

.btnsmall {
    width: 70px;
    height: 50px;
    line-height: 100px;
    text-align: center;
    font-size: 70px;
    border-radius: 10px;
    border-radius: 2px;
}

.btnsmall a {
    color: white;
    text-decoration: none;
}

.orange {
    background-color: orange;
}

.orange:hover {
    background-color: orangered;
}

.darkOrange {
    background-color: orangered;
}

.darkOrange:hover {
    background-color: darkorange;
}

.blue {
    background-color: deepskyblue;
}

.darkblue:hover {
    background-color: darkblue;
}

.darkblue {
    background-color: blue;
}

.blue:hover {
    background-color: dodgerblue;
}

.gray {
    background-color: gray;
    opacity: 0.5;
}

.gray:hover {
    background-color: lightgray;
}

bg {
    font-weight: bold;
}

.subscribeform {
    background-color: ghostwhite;
}

h3 {
    text-align: center;
    font-weight: bold;
}