/*.navbar {
    margin-bottom: 0;
    border-radius: 0;
    background-color: rosybrown;
}*/


/* Add a gray background color and some padding to the footer */


/*footer {
    background-color: #f2f2f2;
    padding: 25px;
}*/

.shadow {
    text-shadow: 2px 2px 5px;
}

.box {
    border: 1px solid grey;
    background-color: grey;
}

.container-full {
    margin: 0 auto;
    width: 100%;
}