
textarea:focus, input:focus, select:focus {
  outline: 0;
}
.section-title {
  font-size: 30px;
  text-align: center;
  font-family: 'museo_300', helvetica, arial, sans-serif;
  color: #424242;
  margin-bottom: 0px;
  text-transform: uppercase;
  
}
.intro {
    border-top: 2px solid #8f8d87;
    padding: 27px 0 26px 2px;
}

.team-block {
    border-top: 2px solid #8f8d87;
    padding: 0 0 72px;
}
/*image round*/
.team-block .img-box{
    margin: 0 auto 34px;
    width: 264px;
    height: 264px;
    overflow: hidden;
    display: block;
    position: relative;
    border-top-left-radius: 132px;
    border-top-right-radius: 132px;
    border-bottom-right-radius: 132px;
    border-bottom-left-radius: 132px;
}

.team-block .box {
    overflow: hidden;
    position: relative;
    padding: 48px 30px 53px;
    border-bottom: 2px solid #8f8d87;
}
.team-block .alignleft .img-block {
    float: left;
    width: 47.3%;
    margin: 4px 51px 0 0;
}
.team-block .alignright .img-block {
    float: right;
    width: 47.3%;
    margin: 4px 0 0 51px;
}
.team-block .alignleft .img-box {
    float: right;
    margin: 0 0 0 43px;
}
.team-block .alignright .img-box {
    float: left;
    margin: 0 39px 0 0;
}
.team-block .alignright .social-holder,
.team-block .alignleft .social-holder {
    height: 264px;
    width: 25px;
    white-space: nowrap;
    float: right;

}
.team-block .alignright .social-holder {
    float: left;
}
#main .team-block p {
    margin: 0 0 23px;
}
#main .team-block h1 {
    text-transform: uppercase;
    margin: 0 0 28px;
    font: 27px/28px 'museo_300', Arial, Helvetica, sans-serif;
}
.team-block .alignright .text-box {
    text-align: right;
}
.team-block .text-box {
    overflow: hidden;
    position: relative;
}
.team-block .text-box h1{
font: 27px/28px 'museo_300', Arial, Helvetica, sans-serif;
}
.team-block .text-box p {
font-family: 'museo_300', Arial, Helvetica, sans-serif;
}

@media only screen and (max-width: 2560px) and (max-width: 1600px)  {
    .main-holder {
        padding: 36px 10px 51px;
    }
}
  
    .team-block {
        border-width: 1px 0 0;
    }


