  position {
      position: absolute;
      width: 100%;
      margin-top: -500px;
      padding-right: 300px;
      padding-left: 500px;
      margin-right: auto;
      margin-left: auto;
  }

  @media only screen and (max-width: 2560px) and (max-width: 1600px) {
      .position {
          padding-right: 100px;
          padding-left: 100px;
          text-align: center;
          margin-right: auto;
          margin-left: auto;
      }
  }

  video {
      -webkit-filter: blur(2px);
      -moz-filter: blur(2px);
      -o-filter: blur(2px);
      -ms-filter: blur(2px);
      filter: blur(2px);
  }
  /*.carousel-caption h3 {
    color: white;
    size: 40px;
    line-height: 150%;
    font-family: 'museo_300', helvetica, arial, sans-serif;
    padding-bottom: 25px 25px;
}*/

  .carousel-caption {
      top: 50%;
      transform: translateY(-50%);
      font-family: 'museo_300', helvetica, arial, sans-serif;
  }

  p {
      font-size: 40px;
      letter-spacing: 0.1em;
  }

  h3 {
      font-size: 65px;
      letter-spacing: 0.2em;
  }